In [4]:
import pandas as pd

# Sample DataFrame ex1
data = {
    'A': [1, 2, 3, 4],
    'B': [5, 6, 7, 8],
    'C': [9, 10, 11, 12],
    'D': [13, 14, 15, 16]
}
df = pd.DataFrame(data, index=['a', 'b', 'c', 'd'])
df.head()

   A  B   C   D
a  1  5   9  13
b  2  6  10  14
c  3  7  11  15
d  4  8  12  16

Task:
1. Select the value in the first row and second column using iloc.
2. Select the value in the row with label 'c' and column 'B' using loc.
3. Select the first two rows and the first three columns using iloc.
4. Select rows 'b' to 'd' and columns 'B' and 'C' using loc.

Task
1. Set the value in the second row and third column to 100 using iloc.
2. Set the value in the row with label 'd' and column 'C' to 200 using loc.
3. Set the entire column 'B' to zero using iloc.
4. Set the values in rows 'a' and 'b' and columns 'A' and 'D' to 50 using loc.

Task

1. Select rows where column 'A' is greater than 2 using loc.
2. Select columns 'B' and 'C' for rows where column 'A' is greater than 2 using loc.

In [11]:
value_1st_row_2nd_col = df.iloc[0, 1]
print(value_1st_row_2nd_col)
print()

value_c_B = df.loc['c', 'B']
print(value_c_B)
print()

subset_first_two_rows_first_three_cols = df.iloc[:2, :3]
print(subset_first_two_rows_first_three_cols)
print()
subset_b_to_d_B_and_C = df.loc['b':'d', ['B', 'D']]
print(subset_b_to_d_B_and_C)

5

7

   A  B   C
a  1  5   9
b  2  6  10

   B   D
b  6  14
c  7  15
d  8  16

In [ ]:
df.iloc[1, 2] = 100
print(df)

In [15]:
import pandas as pd

# Sample DataFrame ex1
data = {
    'A': [1, 2, 3, 4],
    'B': [5, 6, 7, 8],
    'C': [9, 10, 11, 12],
    'D': [13, 14, 15, 16]
}
df = pd.DataFrame(data, index=['a', 'b', 'c', 'd'])
df.head()

rows_A_greater_than_2 = df.loc[df['A'] > 2]
print(rows_A_greater_than_2)

   A  B   C   D
c  3  7  11  15
d  4  8  12  16

In [16]:
df.loc['d', 'C'] = 200
print(df)

   A  B    C   D
a  1  5    9  13
b  2  6   10  14
c  3  7   11  15
d  4  8  200  16

In [17]:
df.iloc[:, 1] = 0
print(df)

   A  B    C   D
a  1  0    9  13
b  2  0   10  14
c  3  0   11  15
d  4  0  200  16

In [18]:
df.loc['a':'b', ['A', 'D']] = 50
print(df)

    A  B    C   D
a  50  0    9  50
b  50  0   10  50
c   3  0   11  15
d   4  0  200  16

In [14]:
import pandas as pd

# Sample DataFrame ex1
data = {
    'A': [1, 2, 3, 4],
    'B': [5, 6, 7, 8],
    'C': [9, 10, 11, 12],
    'D': [13, 14, 15, 16]
}
df = pd.DataFrame(data, index=['a', 'b', 'c', 'd'])
df.head()

columns_B_and_C_where_A_greater_than_2 = df.loc[df['A'] > 2, ['B', 'C']]
print(columns_B_and_C_where_A_greater_than_2)

   B   C
c  7  11
d  8  12

   B   D
b  6  14
c  7  15
d  8  16