## Do the following:

- Repeat both in sns and matplot to show difference

[Lecture 10 Visualization temperature](https://colab.research.google.com/drive/1H3EdahgEIoBQqgZB7TJMdxLYUoCZnAnf)

1. Describe the data, 
   1. find where there is null
2. Find out which are the years where the data is not perfect.
   1. Find which are the missing 365 days data.
   2. Remove missing datas
3. For year 2020 Plot the following:
   1. TMAx and TMin
   2. over time
   3. Use group by month and plot the mean of each month. 
   4. Add Title, month, temperature
4. Experiment
   1. Add fill between
   2. Add error bar.
   3. Grouy by year and plot

Cheatsheet:


```python
plt.fill_between(range(1, 13), tmax, tmin, edgecolor='black',facecolor='gray', alpha=0.2)

plt.errorbar(x = range(1,13), y=nyc_df.groupby('MONTH')['TMAX'].mean(), yerr=nyc_df.groupby('MONTH')['TMAX'].std(), label = "High", color="red")

```

In [2]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

In [3]:
# Our first visualization will be a simple line graph showing historical temperature
# data from new York City.
nyc_df = pd.read_csv("https://raw.githubusercontent.com/CUNY-CISC-3225/datasets/main/nyc_temp_1869_2021.csv", index_col=0)
nyc_df.head()

   MM/DD/YYYY  YEAR  MONTH  DAY  TMAX  TMIN
0  1869-01-01  1869      1    1 -17.0 -72.0
1  1869-01-02  1869      1    2 -28.0 -61.0
2  1869-01-03  1869      1    3  17.0 -28.0
3  1869-01-04  1869      1    4  28.0  11.0
4  1869-01-05  1869      1    5  61.0  28.0