1. How far away is the furthest planet? The closest planet?
2. How many planets are missing an orbital period? Missing a mass? Missing a distance?
3. How many planets are missing both orbital period and mass?
4. How many planets are missing orbital period, mass, and distance?
5. How many planets were discovered each year? Do you see a trend? If so, what is it?
6. What is the average distance of planets discovered before 2007? After 2007? What do you think this
says about the field of astronomy?
7. Which exoplanet discovery method found the most planets with missing mass?
8. Did the exoplanet discovery method from Question 6 find any planets with a known mass?
9. Given the evidence you just found, is it possible to determine planetary mass using the exoplanet
discovery method from Question 6? Do some independent research on this exoplanet discovery method
to confirm your hypothesis. Include links to reference material in your submission.
10. Which are associated with more missing mass values, below-average or above-average orbital periods?

Explorations are done on the cells below, here is a summary of written responses

1. How far away is the furthest planet? The closest planet?

```
Furthest Planet 8500.0
Closest Planet 1.35
```

2. How many planets are missing an orbital period? Missing a mass? Missing a distance?

Missing an orbital period?
43

Missing a mass?
522

Missing a distance?
227

3. How many planets are missing both orbital period and mass?

> 43

4. How many planets are missing orbital period, mass, and distance?

> 11

5. How many planets were discovered each year? Do you see a trend? If so, what is it?

> The general trend seems that there was an yearly increase that peaked in 2011 and then is trending downwards.
Perhaps because is reaching to a point where it becomes harder to invent  or improve technology to find more planets afterwards.

6. What is the average distance of planets discovered before 2007? After 2007? What do you think this
says about the field of astronomy?

```
Mean before 2007 142.80625
Mean after 2007 315.2525932504441
```

I think this says about the field of astronomy that over time. astronomy we are equipped to find in a more accurate ways about planets in a at further distances


7. Which exoplanet discovery method found the most planets with missing mass?

> The 'Transit' method has found the most planets with missing mass


8. Did the exoplanet discovery method from Question 6 find any planets with a known mass?

> Yes, it did:

```

       method	number	orbital_period	mass	distance	year
649	Transit	1	2.70339	1.47	178.0	2013
```


9. Given the evidence you just found, is it possible to determine planetary mass using the exoplanet
discovery method from Question 6? Do some independent research on this exoplanet discovery method
to confirm your hypothesis. Include links to reference material in your submission.

The transit method measures the intensity of stars and determines the presence of an exoplanet by observing if any portion of the star's intensity is blocked during the transit of an exoplanet^[1]. This blocking of light serves as evidence for the presence of such exoplanets.

[^1]: [Source](https://www.planetary.org/articles/down-in-front-the-transit-photometry-method)


^1 https://www.planetary.org/articles/down-in-front-the-transit-photometry-method

From the available data, it appears challenging, but somehow possible, to determine the mass of exoplanets. Further indenpendent research suggests that alternative methods, such as spectroscopic radial-velocity follow-up or Transit Time Variations (TTVs) measurements, are necessary for detecting the mass of exoplanets^[2].

[^2]: [Source](https://platomission.com/2018/05/21/the-transit-method/#:~:text=The%20transit%20method%20allows%20us,Time%20Variations%20(TTVs)%20measurements.)

^2 - (https://platomission.com/2018/05/21/the-transit-method/#:~:text=The%20transit%20method%20allows%20us,Time%20Variations%20(TTVs)%20measurements.)


In the Astrophysical Journal, the article "Mass and Orbit Determination from Transit Timing Variations of Exoplanets" discusses how Perturbation theory can be employed to analyze and determine the precision of transit timing measurements required for characterizing additional planets. Including the inference of characteristics such as the mass of the transiting planet^[3].

^3 - (https://iopscience.iop.org/article/10.1086/592230)



10. Which are associated with more missing mass values, below-average or above-average orbital periods?

Exoplanets containing below average orbital periods, have more missing values.

451 vs 28 | A significant difference.

In [2]:
import pandas as pd

url = 'https://raw.githubusercontent.com/CUNY-CISC-3225/datasets/main/planets.csv'

df = pd.read_csv(url)
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1035 entries, 0 to 1034
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   method          1035 non-null   object
 1   number          1035 non-null   int64
 2   orbital_period  992 non-null    float64
 3   mass            513 non-null    float64
 4   distance        808 non-null    float64
 5   year            1035 non-null   int64
dtypes: float64(3), int64(2), object(1)
memory usage: 48.6+ KB

In [5]:
# 1. How far away is the furthest planet? The closest planet?

max_distance = df['distance'].max()
min_distance = df['distance'].min()

print('Furthest Planet', max_distance)
print('Closest Planet', min_distance)

Furthest Planet 8500.0
Closest Planet 1.35

In [9]:
# 2. How many planets are missing an orbital period? Missing a mass? Missing a distance?

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1035 entries, 0 to 1034
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   method          1035 non-null   object
 1   number          1035 non-null   int64
 2   orbital_period  992 non-null    float64
 3   mass            513 non-null    float64
 4   distance        808 non-null    float64
 5   year            1035 non-null   int64
dtypes: float64(3), int64(2), object(1)
memory usage: 48.6+ KB

In [12]:
df.isnull().sum()

method              0
number              0
orbital_period     43
mass              522
distance          227
year                0
dtype: int64

In [15]:
#3. How many planets are missing both orbital period and mass?
missing_both = df[(df['orbital_period'].isnull()) & (df['mass'].isnull())]
print(missing_both.head())

     method  number  orbital_period  mass  distance  year
29  Imaging       1             NaN   NaN     45.52  2005
30  Imaging       1             NaN   NaN    165.00  2007
31  Imaging       1             NaN   NaN    140.00  2004
33  Imaging       1             NaN   NaN       NaN  2008
34  Imaging       1             NaN   NaN    145.00  2013

In [16]:
print(len(missing_both))

43

In [20]:
missing_three = df[(df['orbital_period'].isnull()) & (df['mass'].isnull()) & df['distance'].isnull()]
print(missing_three.head())

                        method  number  orbital_period  mass  distance  year
33                     Imaging       1             NaN   NaN       NaN  2008
90                     Imaging       1             NaN   NaN       NaN  2006
749  Transit Timing Variations       3             NaN   NaN       NaN  2014
902               Microlensing       1             NaN   NaN       NaN  2008
903               Microlensing       1             NaN   NaN       NaN  2008

In [21]:
print(len(missing_three))

11

In [23]:
# How many planets were discovered each year? Do you see a trend? If so, what is it?

discovered_per_year = df.groupby('year').size()
discovered_per_year
# The general trend seems that there was an yearly increase that peaked in 2011 and then is trending downwards.
# Perhaps because is reaching to a point where it becomes harder to invent  or improve technology to find more planets afterwards.

year
1989      1
1992      2
1994      1
1995      1
1996      6
1997      1
1998      5
1999     15
2000     16
2001     12
2002     32
2003     25
2004     26
2005     39
2006     31
2007     53
2008     74
2009     98
2010    102
2011    185
2012    140
2013    118
2014     52
dtype: int64

In [24]:
# 6. What is the average distance of planets discovered before 2007? After 2007? What do you think this
# says about the field of astronomy?


before_2007 = df[df['year'] < 2007]
after_2007 = df[df['year'] > 2007]

mean_b = before_2007['distance'].mean()
mean_a = after_2007['distance'].mean()

print('Mean before 2007', mean_b)
print('Mean after 2007', mean_a)

Mean before 2007 142.80625
Mean after 2007 315.2525932504441

In [26]:

discovered_per_year = df.groupby('year')
discovered_per_year['distance'].mean()

year
1989     40.570000
1992           NaN
1994           NaN
1995     15.360000
1996     15.866667
1997     17.430000
1998     26.302000
1999     30.947333
2000     30.752500
2001     36.531667
2002     44.396129
2003     43.085417
2004    184.777826
2005     46.484324
2006    660.228929
2007    162.656000
2008     98.680312
2009     82.056747
2010    256.796344
2011    319.015032
2012    563.286154
2013    529.767746
2014    359.836667
Name: distance, dtype: float64

In [36]:
# 7. Which exoplanet discovery method found the most planets with missing mass?

missing_mass_df = df[df['mass'].isnull()]
method_counts = missing_mass_df.groupby('method').size()
# Seems that the 'Transit' method has found the most planets with missing mass
method_counts

method
Astrometry                         2
Eclipse Timing Variations          7
Imaging                           38
Microlensing                      23
Orbital Brightness Modulation      3
Pulsar Timing                      5
Pulsation Timing Variations        1
Radial Velocity                   43
Transit                          396
Transit Timing Variations          4
dtype: int64

In [38]:
# 8. Did the exoplanet discovery method from Question 6 find any planets with a known mass?

# I am inferring here that you mean the discovery method from question 7.

transit_df = df[df['method'] == 'Transit']
print(transit_df.head())
print(transit_df.info())
# It did find one non-null

     method  number  orbital_period  mass  distance  year
91  Transit       1        1.508956   NaN       NaN  2008
92  Transit       1        1.742994   NaN     200.0  2008
93  Transit       1        4.256800   NaN     680.0  2008
94  Transit       1        9.202050   NaN       NaN  2008
95  Transit       1        4.037896   NaN       NaN  2009
<class 'pandas.core.frame.DataFrame'>
Int64Index: 397 entries, 91 to 1034
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   method          397 non-null    object
 1   number          397 non-null    int64
 2   orbital_period  397 non-null    float64
 3   mass            1 non-null      float64
 4   distance        224 non-null    float64
 5   year            397 non-null    int64
dtypes: float64(3), int64(2), object(1)
memory usage: 21.7+ KB
None

In [43]:
transit_df_not_null = transit_df[transit_df['mass'].notna()]
transit_df_not_null.head()

      method  number  orbital_period  mass  distance  year
649  Transit       1         2.70339  1.47     178.0  2013

In [ ]:
# # 9. Given the evidence you just found, is it possible to determine planetary mass using the exoplanet
# discovery method from Question 6? Do some independent research on this exoplanet discovery method
# to confirm your hypothesis. Include links to reference material in your submission.

The transit method measures the intensity of stars and determines the presence of an exoplanet by observing if any portion of the star's intensity is blocked during the transit of an exoplanet^[1]. This blocking of light serves as evidence for the presence of such exoplanets.

[^1]: [Source](https://www.planetary.org/articles/down-in-front-the-transit-photometry-method)


^1 https://www.planetary.org/articles/down-in-front-the-transit-photometry-method

From the available data, it appears challenging, but somehow possible, to determine the mass of exoplanets. Further indenpendent research suggests that alternative methods, such as spectroscopic radial-velocity follow-up or Transit Time Variations (TTVs) measurements, are necessary for detecting the mass of exoplanets^[2].

[^2]: [Source](https://platomission.com/2018/05/21/the-transit-method/#:~:text=The%20transit%20method%20allows%20us,Time%20Variations%20(TTVs)%20measurements.)

^2 - (https://platomission.com/2018/05/21/the-transit-method/#:~:text=The%20transit%20method%20allows%20us,Time%20Variations%20(TTVs)%20measurements.)


In the Astrophysical Journal, the article "Mass and Orbit Determination from Transit Timing Variations of Exoplanets" discusses how Perturbation theory can be employed to analyze and determine the precision of transit timing measurements required for characterizing additional planets. Including the inference of characteristics such as the mass of the transiting planet^[3].

^3 - (https://iopscience.iop.org/article/10.1086/592230)

In [46]:
# 10. Which are associated with more missing mass values, below-average or above-average orbital periods?

mean_orbital_periods = df['orbital_period'].mean()
below = df[df['orbital_period'] < mean_orbital_periods]
above = df[df['orbital_period'] > mean_orbital_periods]



print(below.head())
print('==='*10, mean_orbital_periods, '==='*10)
print(above.head())

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009
============================== 2002.9175960947582 ==============================
                       method  number  orbital_period  mass  distance  year
14            Radial Velocity       3          2391.0  0.54     14.08  2001
15            Radial Velocity       3         14002.0  1.64     14.08  2009
19            Radial Velocity       5          4909.0  3.53     12.53  2002
32  Eclipse Timing Variations       1         10220.0  6.05       NaN  2009
37  Eclipse Timing Variations       2          5767.0   NaN    130.72  2008

In [50]:
below_null = below[below['mass'].isnull()]
print(below_null.head())
print(len(below_null))

                       method  number  orbital_period  mass  distance  year
7             Radial Velocity       1       798.50000   NaN     21.41  1996
20            Radial Velocity       5         0.73654   NaN     12.53  2011
25            Radial Velocity       1       116.68840   NaN     18.11  1996
26            Radial Velocity       1       691.90000   NaN     81.50  2012
44  Eclipse Timing Variations       2      1916.25000   NaN       NaN  2011
451

In [51]:
above_null = above[above['mass'].isnull()]
print(above_null.head())
print(len(above_null))

                       method  number  orbital_period  mass  distance  year
37  Eclipse Timing Variations       2         5767.00   NaN    130.72  2008
38  Eclipse Timing Variations       2         3321.00   NaN    130.72  2008
39  Eclipse Timing Variations       2         5573.55   NaN    500.00  2010
40  Eclipse Timing Variations       2         2883.50   NaN    500.00  2010
41  Eclipse Timing Variations       1         2900.00   NaN       NaN  2011
28

In [ ]:
# Exoplanets containing below average orbital periods, have more missing values.